@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


header div{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 6%;
    background-color:#EFF5FF;
}

header div ul{
    display: flex;
    gap: 2rem;
}
header div ul li{
    list-style: none;
}
header div ul li a{
    text-decoration: none;
}
header div ul li i{
    color: rgb(41, 130, 247);
}

header div ul li a i{
    font-size: 20px;
    margin-left: -5px;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    width: 90%;
    margin: 0 auto;
}

header nav h4 a{
    text-decoration: none;
    color: rgb(41, 130, 247);
}

header nav h4{
    font-size: 2.5rem;
    color: rgb(41, 130, 247);
}

header nav ul{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

header nav ul button{
    height: 100%;
    padding: 0px 1rem;
    cursor: pointer;    
    transition: 0.3s;
    border: none;
    background-color: rgb(41, 130, 247);
    color: white;
}

header nav ul button:hover{
    background-color: rgb(31, 92, 172);
    color: white;
}

header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

header nav ul li a:hover{
    color: rgb(41, 130, 247);
}

main .hero-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

main .hero-section .hero-text{
    width: 100%;
    background-color: rgb(41, 130, 247);
    padding: 2rem;
    color: white;
}

main .hero-section .hero-text h1{
    font-weight: 700;
    font-size: 4rem;
}

main .hero-section .hero-text .text-div{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

main .hero-section .hero-img{
    width: 100%;
    background-image: url(img/carousel-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-img h4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    color: white;
    font-weight: 900;
    font-size: 4rem;
}

.about-section{
    width: 85%;
    margin: 0 auto;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.about-section .text-about h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about-section .text-about p{
    margin-bottom: 1rem;
    color: rgb(104, 104, 104);
}

.about-section .text-about ul{
    margin-top: 2rem;
    margin-left: 1.25rem;
    color: rgb(104, 104, 104);
    margin-bottom: 2rem;
}

.about-section .text-about .btn-about{
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgb(162, 200, 250);
    font-size: 1rem;
    color: gray;
    cursor: pointer;
    margin-bottom: 2rem;
}

.about-section .text-about .read-btn{
    padding: 1rem 2rem;
    border-radius: 05rem;
    border: none;
    background-color: rgb(41, 130, 247);
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.2s;
}

.about-section .text-about .read-btn:hover{
    background-color: rgb(31, 92, 172);
}


main .Services{
    width: 85%;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 6rem;
}

main .Services button{
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgb(162, 200, 250);
    font-size: 1rem;
    color: gray;
    cursor: pointer;
    margin-bottom: 2rem;
    display: block;
    margin: auto;
}
main .Services h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

main .Services .div1 div{
    margin: 0.75rem;
    padding: 1.25rem;
    background-color:#EFF5FF;
    border-radius: 8px;
}
main .Services .div1{
    display: flex;
    /* flex-wrap: wrap; */
}




main .feature-section{
    display: flex;

}

.left-side-div{
    background-color: rgb(41, 130, 247);
    padding: 3rem;
    width: 50%;
}

.left-side-div button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    margin-bottom: 2rem;
    cursor: pointer;
}

.left-side-div h2{
    color: white;
    font-size: 3.67rem;
    margin-bottom: 4rem;
}

.left-side-div p{
    color: white;
    font-size: 1rem;
}

.right-side-div{
    width: 50%;
}

.flex{
    display: flex;
}

.d-div h6,h3{
    font-weight: 600;
    font-size: 1.5rem;
}    

.d-div{
    align-items: center;
}

.d-div i{
    background-color: white;
    color: rgb(41, 130, 247);
    padding: 0.75rem;
    border-radius: 50%;
}

.d-div{
    gap: 2rem;
    margin: 2rem;
    padding: 1rem;
    color: white;
}